<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Etag:</b>
  <%= @feed.etag %>
</p>

<p>
  <b>Last fetched at:</b>
  <%= @feed.last_fetched_at %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
